html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, vide {
  margin: 0;
	padding: 0;
}
:root {
  --bg-top: hsl(225, 100%, 98%); /* Very Pale Blue (Top BG Pattern) */
  --bg-bottom: hsl(0, 0%, 100%); /* white */
  --feature-color: hsl(227, 47%, 96%); /* Light Grayish Blue (Card BG) */
  --text-dark-blue: hsl(230, 17%, 14%); /* Very Dark Blue (Text) */
  --text-grayish-blue: hsl(228, 12%, 44%); /* Dark Grayish Blue (Text) */
  --green-color: hsl(163, 72%, 41%);
  --red-color: hsl(356, 69%, 56%);
  --twitter: hsl(195, 100%, 50%);
  --facebook: hsl(203, 89%, 53%);
  --instagram-color-start: hsl(37, 97%, 70%);
  --instagram-color-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --card-hover: #e1e3f0;
}
[data-theme="dark"] {
  --bg-top: hsl(232, 19%, 15%);
  --bg-bottom:hsl(230, 17%, 14%);
  --feature-color: hsl(228, 28%, 20%);
  --text-dark-blue: hsl(0, 0%, 100%);
  --text-grayish-blue: hsl(228, 34%, 66%);
  --card-hover: #333a56;
}
body {
  background: linear-gradient(var(--bg-top) 30%, var(--bg-bottom) 30%, var(--bg-bottom) 60%, var(--bg-bottom) 100%);
  min-height: 100vh;
  color: var(--text-dark-blue);
  font-family: 'Inter', sans-serif;
}
h1{
  color: var(--text-dark-blue);
}
h2 {
  font-weight: 700;
  font-size: 20px;
}
h2,
h4 {
  color: var(--text-grayish-blue);
}
.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titles-wrap {
  padding: 50px 0 30px 0;
}
.theme-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main, 
.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.overview {
  margin: 40px 0;
}
.feature,
.info {
  background: var(--feature-color);
  padding: 30px;
  border-radius: 5px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feature:hover,
.info:hover {
  cursor: pointer;
  background: var(--card-hover);
}
.feature::before {
  content: '';
  position: absolute;
  top: 0;
  height: 6px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.facebook::before {
  background: var(--facebook);
}
.twitter::before {
  background: var(--twitter);
}
.youtube::before {
  background: var(--youtube);
}
.instagram::before {
  background: linear-gradient(to right, var(--instagram-color-start), var(--instagram-color-end));
}

.overview h2 {
  grid-column: 1/-1;
  color: var(--text-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.handleSocial {
  display: flex;
  align-items: center;
  color: var(--text-grayish-blue);
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 13px;
}
.handleSocial img {
  margin-right: 10px;
}
.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.followersNum {
  font-weight: 700;
  font-size: 60px;
}
.followText {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.positiveTrend, 
.negativeTrend {
  font-weight: 700;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.positiveTrend img, 
.negativeTrend img {
  margin-right: 5px;
}
.positiveTrend {
  color: var(--green-color);
}
.negativeTrend{
  color: var(--red-color);
}
.socialInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.socialInfo h3 {
  font-size: 15px;
  color: var(--text-grayish-blue);
  margin-bottom: 0px;  
}
.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.infoNum {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  .wrap {
    max-width: 96%;
    padding: 0 25px;
}
}
@media only screen and (max-width: 960px) {
  .main, .overview {
    grid-template-columns: repeat(2, 1fr);
}
}
@media only screen and (max-width: 530px) {
  .main, .overview {
    grid-template-columns: 1fr
}
header {
  grid-template-columns: 1fr;
}
h1 {
  font-size: 28px;
  margin-bottom: 5px;
}
.theme-switch {
  justify-content: space-between;
  margin-bottom: 20px;
  margin-bottom: 20px;
padding-top: 15px;
}
.titles-wrap {
  padding: 50px 0 20px 0;
  border-bottom: 1px solid var(--text-grayish-blue);
}
}